/* #151B54 */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    min-height: 50vh; 
    
}
.blue{
    background-color: #151B54 !important;
}
#header-text {
    font-family: 'Gabriela', serif !important;
    font-size: 3rem;

}
.justify{
    text-align: justify;
}
.progress .determinate{
    background-color: #151B54 !important;
    
} section {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    min-height: 400px !important;
    padding-top: 100px !important;
  }

#skills{
    padding: 150px 0;
}